#this bot will forward source1 to target1 with referral link1 and same for channel2 also,links are divide with #comma and logic also put in the code
# Telegram API credentials
TELEGRAM_API_ID=28490021
TELEGRAM_API_HASH=e01e2bf792f3dc911ad7a8a760bfa613

STRING_SESSION=1BVtsOIYBuz4ljHnozfrLIu11oaH0WYZ20IJM-c5Pd8Q8zC_ogtI77NmLHWOVbxMTjnYV5O_ueEqh46CO0N5Ut6jtkyor6GIqLt1cT7iDt25lrirwz7ogH5oEymsZDQsi38vEEvUOpHx6L-F2XPKI_cOKR6rh-axnOGU3ZjVxPHqWtWOc-2FvwQnJt8ENG2xVAjIMMRoZi75gxWz3vfcFFKAiHl6lPuu1-Ts_KBu_qhd8r2LCW5u8XRnYF_myq-YC6Iw9tiUziUtMu9gWKj0xXsPwW6c3CA8O8FPfgS9pGtsu0Mhy2jvTvwmqHR3-j2_OzXG83dZcVIaa2B8HZbAxQVkSmE9K6fY=
TELEGRAM_BOT_TOKEN=7570183181:AAHuq5azJ5R0JA_sv2LRzRiYkSejtmWHwtk
ADMIN_CHAT_ID=5275177453

# Channel and referral info

# Multiple entries separated by commas, without @ for channels
SOURCE_CHANNELS=bigdaddyvipprediction111_crypto,besttrade7555
TARGET_CHANNELS=Colour_hack_prediction,Ram_Earning_club
REFERRAL_LINKS=https://bdgin07.com//#/register?invitationCode=VkY66619919,https://www.dreamwingo.in/#/register?invitationCode=26372407203

